@import "variables.less";
@import "mixins.less";

body{
    width: 100%;
    height: 100%;
    font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    background-color: @background;
}

ol {
    margin-left: 0;
    padding-left: 3em;
    list-style-position: outside;
    li {
      font-size: 14px;
      text-align: left;
      font-family: "Montserrat", Helvetica,Arial,sans-serif;
      //white-space: nowrap
    }
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: @primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken(@primary,20%);
    }
}

.light {
    font-weight: 400;
}

.page-scroll{

}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid fade(white, 30%);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: @background;
    .navbar-brand {
        font-weight: 700;
        &:focus {
            outline: none;
        }
        .navbar-toggle {
            padding: 4px 6px;
            font-size: 16px;
            color: white;
            &:focus,
            &:active {
                outline: none;
            }
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: fade(@primary, 80%);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: fade(@primary, 30%);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: @background;
            border-bottom: 1px solid fade(white, 30%);
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: 20%;
    padding: 100px 0;
    text-align: center;
    color: white;
    // Test fixed attribut eon background for effect. messes up moz though
    background: url(../img/intro-bg.jpg) no-repeat bottom center fixed;
    background-color: @background;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 40px;
        }
        .intro-text {
            font-size: 18px;
        }
        img {
          padding-top: 25%;
        }
    }
    @media(min-width:768px) {
        //height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 100px;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

.content-min {
  padding-top: 100px;
}

.recipe-selectors .active{
  position: relative;
  display: block;
  overflow: hidden;
  text-align: center;
}

.recipes-list .formatted{
  display: none;
  //width: 604px;
  width: 100%;
  margin: auto;
  line-height: 2em;
}

.recipe-selectors .a-selector span {
  position: relative;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  font-size: 15px;
  font-family: "Montserrat",Helvetica,Arial,sans-serif;
  width: 130px;
  height: 130px;
}

.recipe-selectors .a-selector {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 10px 20px;
  width: 130px;
  height: 130px;
  /*background: url(../img/section-circle.png) no-repeat 0 0;*/
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0px 8px 8px 8px;
  border-radius: 81px;
  -webkit-background-size: 130px 260px;
  -moz-background-size: 130px 260px;
  background-size: 130px 260px;
  cursor: pointer;


  -webkit-backface-visibility: hidden;
  -moz-transform: scale(.9999);
  -ms-transform: scale(.9999);
  -webkit-transform: scale(.9999);
  transform: scale(.9999);
  -webkit-transition: background-color 0.5s, color 0.5s; /* Chrome, Safari, Opera */
  transition: background-color 0.5s, color 0.5s;
}

.recipe-selectors .a-selector:hover,
.recipe-selectors .a-selector:focus {
  background-color: #ffffff;
  color: #000000;


  -webkit-transition: background-color 0.5s, color 0.5s; /* Chrome, Safari, Opera */
  transition: background-color 0.5s, color 0.5s;
}

.recipe-selectors .active {
  background-color: #ffffff;
  color: #000000;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 25%;
    margin-bottom: 50%;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: fade(white, 10%);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.buffer {
  padding-top: 25px;
}

.content-section {
    padding-top: 100px;
}

.about-section {
    //width: 100%;
    height: 100%;
    padding: 50px 0;
    color: white;
    //http://38.media.tumblr.com/c3e4c6a5efeac88540129145bb4c3105/tumblr_mgoox5G1eU1r4zr2vo1_r1_500.gif
    //http://royreid.ca/wp-content/uploads/2014/05/RoyReid.ca-Relaxing-Nature-Gifs-36.gif
    background: url(../img/falling-snow.gif) no-repeat center center fixed;
    background-color: @background;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.relax-section {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    color: black;
    background: url(../img/relax-bg.jpg) no-repeat center center fixed;
    background-color: @background;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.exercise-section ul {
  //padding: 0;
  //list-style-type: none;
  li {
    font-size: 16px;
    text-align: left;
    white-space: normal;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
  }
}
.exercise-section ol {
  padding-left: 25%;
  //list-style-type: none;
  li {
    font-size: 16px;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
  }
}

.exercise-section
{
    width: 100%;
    height: 1903px !important;
    padding: 50px 0;
    color: white;
    //http://funkyimg.com/u2/836/117/17484August-Edit-Edited2.jpg
    //http://www.norcalphotovideo.com/images/CasePic04.jpg
    background: url(../img/bluelake.jpg) no-repeat center center fixed;
    background-color: @background;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.recipe-section
{
      width: 100%;
      padding: 50px 0px;
      color: white;
      background-color: @background;
      -webkit-background-size: cover;
      -moz-backgorund-size: cover;
      background-size: cover;
      -o-background-size: cover;
}

.bottom-buffer {
  margin-bottom: 50px;
}

.top-buffer {
  margin-top: 30%;
}

.top-buffer-2 {
  margin-top: 10%;
}

.left-buffer {
  margin-left: 15%;
}

.recipes-list ul {
  padding: 0;
  list-style-type: none;
  li {
    font-size: 14px;
    text-align: center;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
  }
}

.study-section ul {
    li {
      font-size: 14px;
      text-align: left;
      white-space: normal;
      font-family: "Montserrat",Helvetica,Arial,sans-serif;
    }
}

.study-container {
  width: 100%;
}

.study-body {
  bottom: 20%;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
}


.study-list {
  margin-left: 25%;
  margin-right: 10%;

}

.study-section
{
    width: 100%;
    height: 200%;
    color: color;
    background: url(../img/mist-mountains.jpg) no-repeat center center fixed;
    background-color: @background;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.curtainContainer{
  width: 100%;
  height: 100%;
  position: relative;
  .curtain {
    width: 100%; height: 1px;
    background-color: #000000;
    position: absolute;
    top: 25%;
    opacity: 0;
  }

}


@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .relax-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid @primary;
    color: @primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid @primary;
        outline: none;
        color: black;
        background-color: @primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: fade(white, 20%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: fade(white, 20%);
}
